.gradient-sample-view {
    position: absolute;
    left: $left-size + $gradient-box-size;
    right: 0px;
    top: $tool-size * 2;  
    bottom: 0px;
    // transition: $show-timeline-animation;     
    background-color: rgba(255, 255, 255, 0.9);
    z-index: 100000;
    display: none;

    .close {
        font-size: 30px;
        position: absolute;
        right: 10px;
        top: 0px;
        display: inline-block;
        font-weight: 500;
    }


}

.gradient-sample-list {
    position: relative;
    border-bottom: 1px solid $border-color;
    > h1 {
        font-size: 11px;
        margin: 0 auto;
        padding: 5px; 
        // background-color: #ececec;
        font-weight: 400;
    }

    .cached-list {
        display: grid;
        grid-template-columns:  1fr 1fr 1fr 1fr;

        .add-current-image {
            appearance: none;
            border: 1px solid $border-color;
            vertical-align: top;
            background-color: white;
            font-size: 50px;
            line-height: 0px;
            font-weight: 100;
            cursor: pointer;
        }
        .gradient-sample-item, .gradient-cached-item, .add-current-image, .empty {
            display:inline-block;
            position: relative;
            margin: 2px;
            padding: 10px 0px;
            font-size: 11px;
            height: 60px;
            text-align: center;            

            &:not(.empty) {
                // border: 1px solid rgba($border-color, 0.5);
            }

            .preview {
                display: inline-block;
                width: 30px;
                height: 30px;
                margin: 0 auto; 
            }

            .item-tools {
                position: absolute;
                left: 0px;
                top: 0px;
                right: 0px;
                bottom: 0px;
                display: none; 
                background-color: rgba(0, 0, 0, 0.2);
                text-align: center;
                padding: 20px 5px;

                button {
                    appearance: none;
                    // border: 1px solid $border-color;
                    background-color: rgba(0, 0, 0, 0.5);
                    color: white;
                    font-size: 14px;
                    width: 20px;
                    height: 20px;
                    border-radius: 50%;
                    padding: 5px;
                    text-align: center;
                    line-height: 0; 
                    cursor: pointer;
                    outline: none;

                    &.add-item {
                        transform: rotate(45deg);
                    }

                    &.change-item {
                        position: relative;

                        &:before {
                            content: "";
                            position: absolute;
                            left: 50%;
                            top: 50%;
                            width: 10px;
                            height: 10px;
                            border: 1px solid white;
                            transform: translateX(-50%) translateY(-50%);
                        }
                    }
                }
            }

            &:hover {
                .item-tools {
                    display: inline-block;
                }
            }
        }

    }
}
