.layer-toolbar {
    position: absolute;
    z-index: 5;
    left: 0px;
    right: 0px;
    top: 0px;
    box-sizing: border-box;
    padding: 3px 0px;
    display:inline-block;
    text-align: center;

    .panel-toolbar {
        display:inline-block;
        vertical-align: middle;
        width: 290px;
        height: 100%;

    }

    label {
        display: inline-block;
        line-height: 2;
        padding: 2px 5px;
        height: 100%;
        box-sizing: border-box;
        vertical-align: middle;
    }

    .button-group {
        display: inline-flex;
        vertical-align: middle;        

        button {
            flex: 1 1 auto;
            appearance: none;
            border:1px solid $border-color;
            outline:none;
            vertical-align: middle;

            &:not(:first-child) {
                margin-left: -1px;
            }

            &.cut {
                width: 18px;
                height: 18px;
                box-sizing: border-box;
                border: 1px solid $border-color;
                cursor: pointer;
                background-image: linear-gradient(to top, black 0%,black 100%);
                background-size: 4px 4px;
                background-position: 6px center;
                background-repeat: repeat-y;
    
                &.on {
                    background-position: center 6px;                            
                    background-repeat: repeat-x;
                }      
            }
      
        }
    }

    .step-align {
        float: right;
        display: inline-block;
        vertical-align: middle;
        margin-right: 10px;
    }



    @import './property-items/group-align.scss'; 
}