$pointer-color: rgba(#ececec, 0.8);
$direction-border: 2px solid $pointer-color;
$page-item-height: 35px;
$button-size: 24px;
$layer-item-padding: 4px;
$mini-layer-view-height: 420px;

.layers {
    // border-bottom: 1px solid $border-color;
    box-sizing: border-box;
    position: relative;
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;

    button {
        appearance: none;
        width: auto;
        height: 100%;
        box-sizing: border-box;
        border: 1px solid #dedede;
        vertical-align: middle;
        font-size: 12px;
        cursor: pointer;
        outline: none;
        position: relative;
        pointer-events: all;
    }

    > .title {
        flex: none;
        height: 30px;
        padding: 5px;
        box-sizing: border-box;
        position: relative;

        h1 {
            font-size: 12px; 
            float:left;
            vertical-align: middle;
            margin: 0px;
        }
        .tools {
            display: inline-block; 
            position: absolute;
            top: 0px;
            right: 0px;
            bottom: 0px;
        }
    }    

    .layer-list {
        flex: 1 1 auto;
        overflow: auto; 
        border-top: 1px solid #ececec;
        box-sizing: border-box;
        position: relative;    
        padding-left: 2px;
        padding-right: 2px;
        
        button {
            display: inline-block;      
            vertical-align: middle;
            box-sizing: border-box;
            cursor: pointer;
            position: relative;
            overflow: hidden;
            padding: 5px;
            margin-right: 5px;
            text-align: center;
            appearance: none;
            background-color: transparent;
            border:0px;
            line-height: 0;
        }
        
        
        .tree-item {
            display: block;
            cursor: pointer;
            position: relative;
            overflow: hidden;
            border-left: 5px solid rgba($border-color, 0.5);
            margin: 5px 0px;
            padding: 5px 5px;

            &.image {
                padding-left: 30px;
            }

            &.selected {
                border-left-color: #333;
                background-color: #ececec;
                .item-tools {
                    visibility: visible;
                }
            }

            .item-title {
                display: inline-block;
                font-size: 12px;
                pointer-events: none;
            }

            &:hover {
                .item-tools {
                    display: block;

                    button {

                        &.copy-item {
                            font-weight: bold;
                        }
                    }
                }
            }

            .item-tools {
                display: none;
                button {
                    height: 20px;
                    display: inline-block;

                    &.copy-item,
                    &.copy-image-item {
                        position: absolute;
                        right: 0px;
                        top: 50%;
                        transform: translateY(-50%);                        
                    }
                }
            }

        }

    }

}