$pointer-color: rgba(#ececec, 0.8);
$direction-border: 2px solid $pointer-color;
$page-item-height: 35px;
$button-size: 24px;
$layer-item-padding: 4px;
$mini-layer-view-height: 420px;

.layers {
    // border-bottom: 1px solid $border-color;
    box-sizing: border-box;
    position: relative;
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;

    button {
        appearance: none;
        width: auto;
        height: 100%;
        box-sizing: border-box;
        border: 1px solid #dedede;
        vertical-align: middle;
        font-size: 12px;
        cursor: pointer;
        outline: none;
        position: relative;
        pointer-events: all;
    }

    > .title {
        flex: none;
        height: 30px;
        padding: 5px;
        box-sizing: border-box;
        position: relative;

        h1 {
            font-size: 12px; 
            float:left;
            vertical-align: middle;
            margin: 0px;
        }
        .tools {
            display: inline-block; 
            position: absolute;
            top: 0px;
            right: 0px;
            bottom: 0px;
        }
    }    

    .layer-list {
        flex: 1 1 auto;
        overflow: auto; 
        // border-top: 1px solid #ececec;
        box-sizing: border-box;
        position: relative;    
        // padding-left: 2px;
        // padding-right: 2px;
        
        button {
            display: inline-block;      
            vertical-align: middle;
            box-sizing: border-box;
            cursor: pointer;
            position: relative;
            overflow: hidden;
            padding: 5px;
            // margin-right: 5px;
            text-align: center;
            appearance: none;
            background-color: transparent;
            border:0px;
            line-height: 0;
        }
        
        
        .tree-item {
            display: block;
            cursor: pointer;
            position: relative;
            overflow: hidden;
            line-height: 1.5;
            border-left: 5px solid rgba(204, 204, 204, 0.39);
            padding: 0px 5px;
            border-bottom: 1px solid rgba(128, 128, 128, 0.15);            

            &.image {
                padding-left: 30px;
            }

            &.selected {
                border-left-color: #333;
                background-color: #ececec;
                .item-tools {
                    visibility: visible;
                }
            }

            .item-title {
                display: inline-block;
                font-size: 11px;
                pointer-events: none;
            }

            // &:hover {
            //     .item-tools {
            //         display: inline-block;
            //         vertical-align: middle;

            //         button {

            //             &.copy-item {
            //                 font-weight: bold;
            //             }
            //         }
            //     }
            // }

            .item-tools {
                display: block;
                text-align: right;
                float:right;

                button {
                    height: 20px;
                    display: inline-block;

                    &.visible-item {
                        width: 15px !important;
                        height: 15px !important;
                        box-sizing: border-box;
                        border-top-left-radius:   0px;
                        border-top-right-radius:   100%;
                        border-bottom-left-radius:   100%;
                        border-bottom-right-radius:   0px;
                        transform: rotate(315deg);
                        background-color: rgba(0, 0, 0, 0.1);
                        text-align: center;

                        &:before {
                            background-color: rgba(0, 0, 0, 0.7); 
                            border-radius: 100%;
                            vertical-align: middle;
                            display: inline-block;
                            content: '';
                            width: 6px;
                            height: 6px;
                        }

                        &:not(.visible) {

                            &:before {
                                background-color: rgba(0, 0, 0, 0.1); 
                            }
                        }
                    }
                }
            }

        }

    }

}