.layer-toolbar {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 30px;
    background-color: white;
    z-index: 100;
    border-bottom: 1px solid $border-color;

    label {
        display: inline-block;
        line-height: 2;
        padding: 2px 5px;
        height: 100%;
        box-sizing: border-box;
    }

    .gradient-type {
        padding-top: 1px;
    }
    .gradient-sample-list {
        display: inline-block;
        height: 26px;
        width: 30px;
        vertical-align: middle;
        position: relative;
        text-align: center;
        border: 1px solid #f1f1f1;
        box-sizing: border-box;
        margin-bottom: 2px;

        .arrow {
            display: inline-block;
            width: 10px;
            height: 100%;
            position: relative;
            cursor: pointer;



            &:before {
                content: "";
                position: absolute;
                height: 1px;
                width: 100%;
                top: 10px;
                left:0px;
                pointer-events: none;                        
                background-color: black;
            }

            &:after {
                content: "";
                position: absolute;
                height: 1px;
                width: 100%;
                top: 15px;
                left:0px;
                pointer-events: none;
                background-color: black;
            }                    
        }
    }

    .button-group {
        display: inline-flex;
        vertical-align: middle;        

        button {
            flex: 1 1 auto;
            appearance: none;
            border:1px solid $border-color;
            outline:none;
            vertical-align: middle;

            &:not(:first-child) {
                margin-left: -1px;
            }

            &.cut {
                width: 18px;
                height: 18px;
                box-sizing: border-box;
                border: 1px solid $border-color;
                cursor: pointer;
                background-image: linear-gradient(to top, black 0%,black 100%);
                background-size: 4px 4px;
                background-position: 6px center;
                background-repeat: repeat-y;
    
                &.on {
                    background-position: center 6px;                            
                    background-repeat: repeat-x;
                }      
            }
      
        }
    }
}