.layer-toolbar {
    background-color: white;
    box-sizing: border-box;
    padding: 4px 10px;
    label {
        display: inline-block;
        line-height: 2;
        padding: 2px 5px;
        height: 100%;
        box-sizing: border-box;
        vertical-align: middle;
    }

    .gradient-type {
        padding-top: 1px;
    }
    .gradient-sample-list {
        display: inline-block;
        height: 26px;
        width: 30px;
        vertical-align: middle;
        position: relative;
        text-align: center;
        border: 1px solid #f1f1f1;
        box-sizing: border-box;
        margin-bottom: 2px;

        &.arrow {
            background-image: radial-gradient(ellipse at center, rgba(216,216,216, 0) 0%,rgba(119,119,119,0.45) 0%,rgba(119,119,119,0.45) 33.33%,rgba(67,67,67,0.69) 33.33%,rgba(67,67,67,0.69) 66.67%,rgb(0,0,0) 66.67%,rgb(0,0,0) 100%);
            background-size: 5px 5px;
            background-repeat: round;
        }
    }

    .button-group {
        display: inline-flex;
        vertical-align: middle;        

        button {
            flex: 1 1 auto;
            appearance: none;
            border:1px solid $border-color;
            outline:none;
            vertical-align: middle;

            &:not(:first-child) {
                margin-left: -1px;
            }

            &.cut {
                width: 18px;
                height: 18px;
                box-sizing: border-box;
                border: 1px solid $border-color;
                cursor: pointer;
                background-image: linear-gradient(to top, black 0%,black 100%);
                background-size: 4px 4px;
                background-position: 6px center;
                background-repeat: repeat-y;
    
                &.on {
                    background-position: center 6px;                            
                    background-repeat: repeat-x;
                }      
            }
      
        }
    }

    @import './property-items/group-align.scss'; 
}