$background-color: #f3f3f3;
$border-color: #cccccc;
$selected-color: #cccccc;
$font-color: black;
$pointer-color: rgba(#ececec, 0.8);
$gutter: 8px;
$tool-size: 66px;
$top-size: 50px;
$left-size: 300px;
$left-layer-panel: 70px;
$left-page-size: 70px;
$toggle-left-size: 80px;
$right-size: 310px;
$timeline-header-size: 30px;
$timeline-size: 300px;
$show-timeline-animation: all 0.15s linear; 
$gradient-box-size: 0px;
$layer-toolbar-height: 0px;


.layout-main {
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px; 

    &.show-timeline {
        .layout-left, .layout-right, .layout-body {
            bottom: $timeline-size;
        }

        .layout-footer {
            display: block;
            height: $timeline-size - 1px;
        }


    }


    .select-layer-view {
        .pages {
            display: block; 
        }

        .item-info {
            .page-info {
                display: block;
            }

            left: $left-page-size;

            .layers {
                top: 0px;
            }
        }
    }

    .layout-top {
        position: absolute;
        left: 0px;
        right: 0px;
        top: $tool-size;
        height: $tool-size;
        z-index: 1;         
        border-bottom: 1px solid $border-color;
        box-sizing: border-box; 
        display: none;
    }

    .layout-right {
        position: absolute;
        right : 0px;
        // left: $left-size;
        width: $right-size;
        top: 0px;
        bottom: 0px;
        // overflow: auto;
        box-sizing: border-box;
        // border-right: 1px solid $border-color;
        border-left: 1px solid $border-color;
        background-color: white; 
        border-left: 1px solid $border-color;
        // transition: $show-timeline-animation;
        z-index: 100;
    }

    .layout-left {
        position: absolute;
        left: 0px;
        width: $left-size;
        top: $tool-size;
        bottom: 0px;
        box-sizing: border-box;
        border-right: 1px solid $border-color;
        // transition: $show-timeline-animation;
        z-index: 100;
    }    

    .layout-body {
        position: absolute;
        left: $left-size + $gradient-box-size;
        right: $right-size;
        top: $tool-size;
        bottom: 0px;
        box-sizing: border-box;
        // transition: $show-timeline-animation;        
    }

    .layout-header {
        position: absolute;
        left: 0px;
        right: $right-size;
        height: $tool-size;
        top: 0px; 
        z-index: 0; 
        overflow: hidden;
        box-sizing: border-box;
        display: flex; 
        border-bottom: 1px solid $border-color;

        .page-tab-menu {
            flex: 1 1 auto; 
            display: block;
            position: relative;
        }
    }


    .layout-footer {
        position: absolute;
        left: 0px;
        right: 0px;
        height: 0px;
        bottom: 0px;
        z-index: 0; 
        display:none;
        overflow: hidden; 
        border-top: 1px solid $border-color;      
        transition: $show-timeline-animation;  
    }

}

@import './range-ui.scss';
@import './tab-ui.scss';

@import './element/unit-range.scss';

@import './select-layer-view.scss';
@import './colorpicker-ui.scss';
@import './tool-menu.scss';
@import './shape-manager.scss';
@import './page-manager.scss';
@import './layer-manager.scss';
@import './layer-toolbar.scss';
@import './image-toolbar.scss';
@import './images.scss';
@import './guide/angluar-group.scss';
@import './feature-manager.scss';
@import './sub-feature-manager.scss';
@import './timeline-manager.scss';
@import './gradient-types.scss';
@import './layers-menu.scss'; 
@import './vertical-colorstep.scss';
@import './gradient-sample-view.scss';
@import './layer-sample-view.scss';
@import './page-sample-view.scss';
@import './view.scss';       
@import './property-items/group-align.scss';


@import './drag-angle.scss';
@import './drag-position.scss';
@import './guide/background-resizer.scss';
@import './guide/background-position.scss';
@import './guide/perspective-origin-position.scss';
@import './blends.scss';
@import './property-view.scss';
@import './filters.scss';
@import './export-view.scss';
@import './image-resource.scss';