.outline {
    position: absolute;
    left:0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    display: flex;
    flex-direction: column;
    // height: 100%;

    > .project-list-view {
        height: 200px;
        flex: none; 
    }
}