.popup {
  position: absolute;
  display: block;
  right: 10px;
  bottom: 10px;
  box-sizing: border-box;
  z-index: 1000;
  background-color: white;
  border: 1px solid $border-color;
  box-sizing: 0 0 1px 0 $border-color;
  padding: 5px 10px;

  .popup-title {
    font-size: 12px;
    padding: 10px 5px;
    font-weight: bold;
  }

  .popup-content {
    .popup-item {
      display: grid;
      grid-template-columns: 50px 1fr;
      height: 24px;

      label {
        font-size: 11px;
        vertical-align: middle;
        text-align: right;
        padding-right: 10px;
        line-height: 1.6;
      }

      label + div {
        vertical-align: middle;
      }

      input[type="range"] {
        width: 100px;
        flex: none;
      }

      input[type="number"] {
        width: 50px;
        flex: none;
        border: 1px solid $border-color;
      }

      select {
        width: 20px;
        flex: none;
        appearance: none;
        border: 0px;
        background-color: transparent;
        border-radius: 0px;
        margin-left: 5px;
      }
    }
  }

  &.background-property-popup {
    width: 250px;

    .size-list {
      button {
        appearance: none;
        background-color: transparent;
        border: 0px;
        padding: 2px 5px;
        cursor: pointer;
        outline: none;
        box-sizing: border-box;
        width: 50px;
        background-color: rgba($border-color, 0.5);
      }

      &[data-value="contain"] button[value="contain"],
      &[data-value="cover"] button[value="cover"],
      &[data-value="auto"] button[value="auto"] {
        background-color: $border-color;
        font-weight: bold;
      }
    }

    .repeat-list {
      button {
        width: 24px;
        height: 24px;
        margin-right: 2px;
        appearance: none;
        border: 1px solid $border-color;
        background-color: white;
        outline: none;
        cursor: pointer;

        &[value="no-repeat"] {
          background-image: linear-gradient(
            to top right,
            rgba(blue, 0.5),
            black
          );
          background-position: center center;
          background-size: 8px 8px;
          background-repeat: no-repeat;
        }

        &[value="repeat"] {
          background-image: linear-gradient(
            to top right,
            rgba(blue, 0.5),
            black
          );
          background-position: 10px 10px;
          background-size: 8px 8px;
          background-repeat: repeat;
        }

        &[value="repeat-x"] {
          background-image: linear-gradient(
            to top right,
            rgba(blue, 0.5),
            black
          );
          background-position: 10px 8px;
          background-size: 8px 8px;
          background-repeat: repeat-x;
        }

        &[value="repeat-y"] {
          background-image: linear-gradient(
            to top right,
            rgba(blue, 0.5),
            black
          );
          background-position: 8px 10px;
          background-size: 8px 8px;
          background-repeat: repeat-y;
        }

        &[value="space"] {
          background-image: linear-gradient(
            to top right,
            rgba(blue, 0.5),
            black
          );
          background-position: 10px 10px;
          background-size: 8px 8px;
          background-repeat: space;
        }

        &[value="round"] {
          background-image: linear-gradient(
            to top right,
            rgba(blue, 0.5),
            black
          );
          background-position: 0px 0px;
          background-size: 8px 8px;
          background-repeat: round;
        }
      }

      &[data-value="repeat"] button[value="repeat"],
      &[data-value="no-repeat"] button[value="no-repeat"],
      &[data-value="repeat-x"] button[value="repeat-x"],
      &[data-value="repeat-y"] button[value="repeat-y"],
      &[data-value="space"] button[value="space"],
      &[data-value="round"] button[value="round"] {
        background-color: $border-color;
        box-shadow: 0 0 1px 0px black;
      }
    }
  }
}
