.select-layer-view {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    box-sizing: border-box;
    
    .layer-title {
        font-size: 13px;
        font-weight: 400;
        padding: 8px 5px !important;
        box-sizing: border-box;
        height: 30px;
        color: #333;
        cursor: pointer;

        > span {
            button {
                appearance: none;
                border: 1px solid #ececec;
                box-sizing: border-box;
                display: inline-block;
                height: 100%;
            }
        }
    }

    .item-info {
        position: absolute;
        left: 0px;
        top: 0px;
        right: 0px;
        bottom: 0px;
        display: flex;
        flex-direction: column;
        box-sizing: border-box;

        .page-info {
            display: none;
            position: relative;
            height: 120px;
            flex: none; 
            border-bottom: 1px solid $border-color;
        }
    }
}