$pointer-color: rgba(#ececec, 0.8);
$direction-border: 2px solid $pointer-color;
$page-item-height: 30px;
$button-size: 24px;
$layer-item-padding: 4px;

.shapes {
    position: relative;
    border-bottom: 1px solid $border-color;

    > h1 {
        font-size: 11px;
        margin: 0 auto;
        padding: 5px;
        font-weight: 400;
    }
    
    .shapes-list {
        display: grid;
        grid-template-columns:  1fr 1fr 1fr;
        width: 100%;
        
        button {
            height: 62px;
            background-color: transparent;
            appearance: none;
            display: inline-block;
            margin: 10px;
            border: 1px solid #ececec;
            cursor: pointer;
            position: relative;
            pointer-events: all;
            vertical-align: middle; 
            padding:2px;

            .shape {
                width: 100% !important;
                height: 100% !important;
            }

        }      
    }
}