$pointer-color: rgba(#ececec, 0.8);
$direction-border: 2px solid $pointer-color;
$page-item-height: 35px;
$button-size: 24px;
$layer-item-padding: 4px;

.sub-feature-control {
    position: absolute;
    bottom: 10px;
    left : 10px;
    right: 10px;
    z-index: 100;
    pointer-events: none;
    > .feature {
        height: 100%;
        text-align: center;
        white-space: nowrap;

        > .property-view {
            position: relative;
            height: 150px;
            width: 150px;
            background-color: rgba(0, 0, 0, 0.2);     
            display: inline-block;
            vertical-align: middle;   
            overflow: hidden;
            pointer-events: all;
            
            &.hide {
                display: none;
            }

            > .property-item {
                border: 0px;

                > .title {
                    text-align: left; 
                    background-image: none;
                    border: 0px;
                    color: rgba(255, 255, 255, 0.7);
                    height: 20px;
                }

                &.background {
                    > .items {
                        padding-top: 6px !important;
                    }
                }

                > .items {
                    display: block;

                    > div {
                        margin-bottom: 2px;
                        > label {
                            width: 50px;
                        }
   
                    }
                }
            }

        }
    }
}