$timeline-property-width: 300px;
$timeline-title-padding: 50px;
$timeline-row-height: 30px;
$timeline-keyframe-border-color: rgba($border-color, 0.3);
$timeline-keyframe-time-color: rgba($border-color, 0.7);
$pointer-size: 10px;
$timeline-bar-color: #95b6ff;
$timeline-keyframe-cursor-color: rgba(255, 0, 0, 0.5);

.timeline-view {
    position: absolute;
    box-sizing: border-box;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;

    display: flex; 
    flex-direction: column;

    > .timeline-header {
        position: relative;
        flex: none;
        height: $timeline-row-height;

        .timeline-toolbar {
            position: absolute;
            left: 0px;
            bottom: 0px;
            top: 0px;
            width: $timeline-property-width;
            box-sizing: border-box;
            border-right:1px solid $border-color;            
            border-bottom: 1px solid $border-color;        
            line-height: 1.6;
            padding-left: 5px;
            padding-top: 5px;
            padding-bottom: 5px;    

            .title {
                cursor:pointer;
            }
        }

        .keyframe-toolbar {
            position: absolute;
            left: $timeline-property-width;
            bottom: 0px;
            top: 0px;
            right: 0px;
            overflow: hidden;
            box-sizing: border-box;
            border-bottom: 1px solid $border-color;

            .keyframe-time-view {
                position: absolute;
                left: 0px;
                top: 0px;
                right: 0px;
                bottom: 0px;

                canvas {
                    position: absolute;
                    left: 0px;
                    top: 0px;
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }

    > .timeline-body {
        position: relative;
        flex: 1 1 auto;

        .row {
            position: relative;
            box-sizing: border-box;
            display: block;
            height: $timeline-row-height;
            padding: 5px 0px;
            font-size: 11px;
            background-position: 0% 100%;
            background-size: 100% 1px;
            background-repeat: no-repeat;
            background-image: linear-gradient(to right, $timeline-keyframe-border-color, $timeline-keyframe-border-color);
        }

        .timeline-list {
            position: absolute;
            left: 0px;
            width: $timeline-property-width;
            top: 0px;
            bottom: 0px;
            border-right:1px solid $border-color;
            box-sizing: border-box;
            overflow:auto;

            .timeline-object {
                position: relative;

                .timeline-object-title {
                    padding-left: $timeline-title-padding * 0.5;
                }

                .timeline-group {

                    .timeline-collapse {

                        .property-title {
                            padding-left: $timeline-title-padding * 1.5;
                        }

                        .timeline-property {
                            padding-left: $timeline-title-padding * 2.5;

                            label {
                                margin-right: 20px;
                                display: inline-block;
                                vertical-align: middle;
                            }

                            input, select {
                                appearance: none;
                                background-color: transparent;
                                display: inline-block;
                                height: 20px;
                                border: 1px solid $border-color;
                                vertical-align: middle;
                                box-sizing: border-box;
                            } 

                            input {
                                width: 50px;
                            }

                            select {
                                width: 150px;
                            }
                        }

                    }

                    .timeline-property {
                        padding-left: 100px;
                    }
                }
            }            
        }

        .timeline-panel {
            position: absolute;
            left: 0px;
            right: 0px;
            top: 0px;
            bottom: 0px;
            box-sizing: border-box;
            overflow: auto;
            margin-left: $timeline-property-width;

            .keyframe-list {
                position: relative;
                width: 3000000px;
                background-size: 2px 100%, 100px 100%;
                background-position: 0px 0px, 99px 0px;
                background-repeat: no-repeat, repeat-x;
                background-image: 
                    linear-gradient(to right, $timeline-keyframe-cursor-color, $timeline-keyframe-cursor-color),
                    linear-gradient(to right, $timeline-keyframe-border-color 1px, transparent 1px);

                .keyframe-object {
                    position: relative;

                    .keyframe-property {
                        position: relative;

                        .keyframe-item {
                            position: absolute;
                            top: 7px;
                            box-sizing: border-box;
                            z-index: 1;

                            &:nth-child(even) {
                                top: auto; 
                                bottom: 7px;
                            }

                            .bar {
                                position: absolute;
                                left: 0px;
                                right: 0px;
                                top: 50%;
                                transform: translateY(-50%);
                                height: 3px;
                                background-color: $timeline-bar-color;
                                cursor: move;      
                                box-sizing: border-box;                          
                            }

                            .start {
                                position: absolute;
                                left: 0px;
                                top: 50%;                                
                                transform: translateX(-50%) translateY(-50%);
                                width: $pointer-size;
                                height: $pointer-size;
                                box-sizing: border-box;
                                background-color: rgba(255, 0, 0, 1);
                                // border: 1px solid white;
                                box-shadow: 0 0 1px 1px $border-color;
                                border-radius: 100%;
                                z-index: 3;
                                cursor: w-resize;

                                &.selected {
                                    width: $pointer-size * 1.4;
                                    height: $pointer-size * 1.4;
                                }                                
                            }

                            .end {
                                position: absolute;
                                left: 100%;
                                top: 50%;
                                transform: translateX(-50%) translateY(-50%);
                                width: $pointer-size;
                                height: $pointer-size;
                                box-sizing: border-box;
                                background-color: rgba(69, 216, 69, 1);
                                // border: 1px solid white;
                                box-shadow: 0 0 1px 1px white;
                                border-radius: 100%;   
                                z-index: 2;                                     
                                cursor: e-resize;

                                &.selected {
                                    width: $pointer-size * 1.4;
                                    height: $pointer-size * 1.4;
                                }
                            }                            
                        }
                    }
                }
            }

            .keyframe-guide-line {
                position: absolute;
                left: 0px;
                top: 0px;
                right: 0px;
                bottom: 0px;
                box-sizing: border-box;
                pointer-events: none;
            }
        }

    }
}