$timeline-background-color: #333;
$timeline-property-width: 300px;
$timeline-title-padding: 30px;
$timeline-top-height: 40px;
$timeline-header-height: 30px;
$timeline-row-height: 24px;
$timeline-keyframe-border-color: rgba($border-color, 0.3);
$timeline-keyframe-time-color: rgba($border-color, 0.7);
$pointer-size: 10px;
$timeline-bar-color: #4983ff;
$timeline-keyframe-cursor-color: rgba(255, 0, 0, 0.5);
$timeline-select-bounce-time: 1s;


@keyframes bounce-up-down {
    0% { transform: translateY(-5px)  }
    50% { transform: translateY(0px) }
    100% { transform: translateY(-5px) }
}


.timeline-view {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;

    display: flex; 
    flex-direction: column;
    background-color: $timeline-background-color;
    color: #ececec;

    @import './timeline/top.scss';
    @import './timeline/header.scss';
    @import './timeline/body.scss';
    
}

.timeline-splitter {
    position: absolute;
    left:0px;
    right:0px;
    top:0px;
    display: none;
    height: 2px;
    cursor: n-resize;
    background-color: rgba(0, 0, 0, 0);
    z-index: 100;
    
}

.layout-main.show-timeline {

    .layout-footer {

        .timeline-splitter {
            display: inline-block;
        }

    }
}
