.tool-menu {
    height: 100%;
    box-sizing: border-box;
    display: flex; 
    padding-left: 10px;
    padding-right: 10px;

    .items {
        flex: 1 1 auto;
        text-align: center;
        height: 100%;
        box-sizing: border-box;
        padding: 0px 5px;

        &.flex-2 {
            flex: 5; 
        }

        &.left {
            text-align: left;
        }

        &.right {
            text-align: right; 
        }

        form {
            display: inline-block;
            vertical-align: middle;
        }

        button {
            appearance: none;
            vertical-align: middle;
            border: 0px;
            display: inline-block;
            padding: 10px 2px;
            box-sizing: border-box;
            text-decoration: none;
            color: #333333;
            line-height: 1.6;
            outline: none;
            cursor: pointer;
            text-align: center; 
            margin-right: 5px;

            &[checked='checked'] {
                .icon {
                    background-color: rgba(0, 0, 0, 0.1);
                }
            }
        }

        .icon {
            margin: 0 auto; 
            width : 30px;
            height: 30px;
            background-color: rgba(206, 206, 206, 0.5);
            box-sizing: border-box;

            &.rect {
                background-color: transparent;
                border: 1px solid $border-color;

            }

            &.circle {
                background-color: transparent;
                border: 1px solid $border-color;
                border-radius: 100%;
            }  
            
            &.show-grid {
                background-color: transparent;
                background-image: 
                    linear-gradient(to right, black, black), linear-gradient(to right, black, black),
                    linear-gradient(to right, black, black), linear-gradient(to right, black, black),
                    linear-gradient(to right, black, black), linear-gradient(to right, black, black),
                    linear-gradient(to right, black, black), linear-gradient(to right, black, black);
                background-size: 1px 100%, 1px 100%, 1px 100%,1px 100%,100% 1px, 100% 1px, 100% 1px, 100% 1px;
                background-position: 3px 0px, 27px 0px, 11px 0px, 19px 0px, 0px 3px, 0px 11px, 0px 19px, 0px 27px;
                background-repeat: no-repeat;
            }
        }
    }

}