$pointer-color: rgba(#0f72cf, 0.8);
$direction-border: 2px solid $pointer-color;
.page-view {
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    top: 0px;
    box-sizing: border-box;
    
    .page-menu { 
        position: absolute; 
        left: 0px;
        right: 0px;
        top: 0px;
        height: 160px;
        z-index: 5;
        box-sizing: border-box;        

        .layer-menu-tab {
            position: absolute;
            right: 0px;
            top: 0px;
            bottom: 0px;
            left: 170px;
        }
    }

    .page-content {
        position: absolute;
        left: 0px;
        right: 0px;
        bottom: 0px;
        top: 0px;
        overflow: auto;
        background-color: #ececec;
        // border: 1px solid #c9c9c9;
        box-sizing: border-box;        
    }

    .page-canvas {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;       
        width: 100%;
        height: 100%; 
        box-sizing: border-box;
    }

    .gradient-color-view-container {
        position: relative;
        display: inline-block;
        background-color: white;
        box-shadow: 8px 9px 20px -5px #777;   
        box-sizing: border-box;           
        
        &.moving {
            .predefined-layer-resizer {
                display: none !important;
            }
            .predefined-page-resizer {
                display: none !important;
            }       
            
            .move-guide {
                display: block !important;
            }
        }
    }

    .gradient-color-view {
        width: 100%;
        height: 100%;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translateX(-50%) translateY(-50%);
        background-color: white;
        box-sizing: border-box;

        &.showGrid {
            background-image: 
                linear-gradient(to bottom,rgba(0,0,0, 0.03) 2px, rgba(0, 0, 0, 0) 2px),
                linear-gradient(to right,rgba(0,0,0, 0.03) 2px, rgba(0, 0, 0, 0) 2px),
                linear-gradient(to bottom, rgba(0,0,0,0.03) 1px,rgba(0, 0, 0, 0) 1px), 
                linear-gradient(to right, rgba(0,0,0,0.03) 1px,rgba(0, 0, 0, 0) 1px);                   
            
            background-size: 100px 100px, 100px 100px, 20px 20px, 20px 20px;
            background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px;        
        }

    }

    .gradient-color-view, .ghost-color-view {

        .layer {
            position: absolute; 
            left: 0px;
            top: 0px;
            width: 100%;
            height: 100%;            
        }
    }

    .dropzone {
        display: none;
    }

    @import './guide/page-resizer.scss';
    @import './guide/layer-resizer.scss';
    @import './guide/group-layer-resizer.scss';
    @import './guide/layer-shape-editor.scss';
    @import './guide/move-guide.scss';
    @import './guide/colorpicker-layer.scss'; 
    

}