&.clip-path-polygon {
    .items {
        label {
            width: 20px;
            text-align: center;
        }

        > div {
            >div {
                input[type=number] {
                    width: 50px;
                    margin-right: 2px;
                }
            }
        }
    }

}