$move-line-border: 1px solid #f9b8ff;

.move-guide {
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    top: 0px;
    pointer-events: none;
    transform: translateX(-1px) translateY(-1px);

    .line { 
        position: absolute;
        border-top: $move-line-border;
        border-left: $move-line-border;
    }
}