
> .timeline-body {
    position: relative;
    flex: 1 1 auto;

    .row {
        position: relative;
        display: block;
        height: $timeline-row-height;
        padding: 2px 0px;
        font-size: 11px;
        background-position: 0% 100%;
        background-size: 100% 1px;
        background-repeat: no-repeat;
        background-image: linear-gradient(to right, rgba($timeline-keyframe-border-color, 0.1), rgba($timeline-keyframe-border-color, 0.1));
    }

    @import './timeline-list.scss';
    @import './timeline-panel.scss';

}