
    .timeline-panel {
        position: absolute;
        left: 0px;
        right: 0px;
        top: 0px;
        bottom: 0px;
        overflow: auto;
        margin-left: $timeline-property-width;

        .keyframe-list {
            position: relative;
            width: 3000000px;
            background-size: 2px 100%, 100px 100%;
            background-position: 0px 0px, 99px 0px;
            background-repeat: no-repeat, repeat-x;
            background-image: 
                linear-gradient(to right, $timeline-keyframe-cursor-color, $timeline-keyframe-cursor-color),
                linear-gradient(to right, rgba($timeline-keyframe-border-color, 0.1) 1px, transparent 1px);

            .keyframe-object {
                position: relative;


                &.group-collapsed {
        
                    .keyframe-group {
                        display: none;
                    }
                }


                .keyframe-group {

                    .keyframe-collapse {
                        &.collapsed {
                            .keyframe-property-list {
                                display: none;
                            }
                        }

                        .keyframe-property-list {

                            .keyframe-property {
                                position: relative;

                                .keyframe-item {
                                    position: absolute;
                                    height: $pointer-size;
                                    z-index: 1;

                                    &[data-start-time] {
                                        &:before {
                                            position: absolute;
                                            content: attr(data-start-time);
                                            display: inline-block;
                                            color: white;
                                            background-color: rgba(rgb(150, 150, 150), 0.8); 
                                            border-radius: 3px;
                                            height: 20px;
                                            min-width: 80px;
                                            text-align: center;
                                            padding: 2px 10px;
                                            transform: translateX(-50%) translateY(-30px);
                                        }
                                    }

                                    &[data-end-time] {
                                        &:after {
                                            position: absolute;
                                            content: attr(data-end-time);
                                            display: inline-block;
                                            color: white;
                                            background-color: rgba(rgb(150, 150, 150), 0.8); 
                                            left: 100%;
                                            height: 20px;
                                            min-width: 80px;
                                            text-align: center;
                                            padding: 2px 10px;
                                            border-radius: 3px;
                                            transform: translateX(-50%) translateY(-30px);
                                        }
                                    }                            

                                    &.nested {
                                        .start {
                                            transform: translateX(-50%) translateY(-90%);
                                        }

                                        .end {
                                            transform: translateX(-50%) translateY(-10%);
                                        }                                
                                    }

                                    &:nth-child(even) {
                                        top: auto; 
                                        bottom: 7px;
                                    }

                                    .bar {
                                        position: absolute;
                                        left: 0px;
                                        right: 0px;
                                        top: 50%;
                                        transform: translateY(-50%);
                                        height: $pointer-size;
                                        background-color: rgba($timeline-bar-color, 0.5);
                                        cursor: move;           
                                        text-align: center;
                                        
                                        .timing-icon {
                                            position: absolute;
                                            left: 50%;
                                            transform: translateX(-50%);
                                            background-color: #333;
                                            display: none;
                                            height: $pointer-size;
                                            width: $pointer-size;
                                            cursor: pointer;
                                            pointer-events: none;

                                            &.show {
                                                display: inline-block;
                                            }
                                        }
                                    }

                                    .start {
                                        position: absolute;
                                        left: 0px;
                                        top: 50%;                                
                                        transform: translateX(-50%) translateY(-50%);
                                        width: 3px;
                                        height: $pointer-size;
                                        background-color: #eeff00;
                                        z-index: 2;
                                        cursor: w-resize;
                                        border-radius: 2px;                          
                                    }

                                    .end {
                                        position: absolute;
                                        left: 100%;
                                        top: 50%;
                                        transform: translateX(-50%) translateY(-50%);
                                        width: 3px;
                                        height: $pointer-size;
                                        background-color: #00ff1f;
                                        z-index: 3;                                     
                                        cursor: e-resize;
                                        border-radius: 2px;
                                    }          
                                    
                                    .start, .end {
                                        &.selected {
                                            &:before {
                                                content: '';
                                                display: inline-block;
                                                position: absolute;
                                                width: 8px;
                                                height: 5px;
                                                left: -2px;
                                                bottom: 12px;
                                                background-color: rgba(#b5b5b5, 0.5);
                                                clip-path: polygon(0% 0%, 100% 0%, 50% 100%);
                                                animation: bounce-up-down $timeline-select-bounce-time infinite ease-in-out;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }

                }

            }
        }
    }
