> .timeline-top {
    position: relative;
    flex: none;
    height: $timeline-top-height;

    .timeline-toolbar {
        position: absolute;
        left: 0px;
        bottom: 0px;
        top: 0px;
        width: $timeline-property-width;
        border-right:1px solid $timeline-keyframe-border-color;            
        border-bottom: 1px solid $timeline-keyframe-border-color;        
        line-height: 1.6;
        padding-left: 5px;
        padding-top: 5px;
        padding-bottom: 5px;    

        .title {
            cursor:pointer;
            color: #ececec;
        }
    }

    .keyframe-toolbar {
        position: absolute;
        left: $timeline-property-width;
        bottom: 0px;
        top: 0px;
        right: 0px;
        overflow: hidden;
        border-bottom: 1px solid $timeline-keyframe-border-color;
    }
}
